body{
    background-image:url(pong.jpg);
    background-color:rgb(189, 189, 8);
}

#pong{
    border: 2px solid rgb(232, 248, 6);
    position: absolute;
    margin :auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    
}
h1{
    padding-left: 300px;
    color:rgb(3, 11, 87);
}
h2{
    padding-left: 315px;
    color: rgb(245, 245, 9);
11, 8, 8)
}
.hide{
    display: none;

}
.show{
    display: block;
}
canvas{
    padding-left: 80px;
}